@import 'mixins';

#main[theme=light] {
  --cloudy_light: #F6F8FA;
  --cloudy_dark: #F1F6FD;
  --white: #FAFCFF;
  --deep-blue: #438EFF;
  --grafit: #70727D;
  --black: #2B2D39;
  --fire: #F54A4ADD;
  --grass: #44ba51;
}

body {
  margin: 0;
  padding: 0;
}

* {
  color: var(--black);
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.not-selectable {
  user-select: none;

  * {
    user-select: none;
  }
}

.with-tooltip {
  > .tooltip {
    opacity: 0;
    background-color: var(--grafit);
    color: var(--white);
    text-align: center;
    padding: 4px 8px;
    margin-left: 4px;
    border-radius: 6px;

    transition: .2s opacity;

    position: absolute;
    z-index: 3000;
    top: calc(50% - 14px);
    left: -100vw;

    box-sizing: border-box;
  }

  &:hover > .tooltip {
    opacity: 0.8;
    left: 105%;
  }
}
